<div style="text-align: center">
    <div>
        <h1 style="font-family: 'Black Ops One', cursive;">
            TechIt
        </h1>
    </div>
    <div style="font-family: 'Black Ops One', cursive;">
        
        <span>
            <a href="{% url 'articleapp:list' %}">
                List
            </a>
        </span>
        
        <span>매인</span>
        <span>카테고리</span>
        <span>강다니엘</span>
        {% if user.is_authenticated %}

                <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MyPage

        </a></span>
                <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout

        </a></span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                LogIn
            </a>
        </span>

        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% endif %}
    </div>
</div>


